<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div>
    <ul>
      <% for(var i = 0,len = data.length; i < len; i++) { %>
        <li>
          <p>下标: <%= i %></p>
          <p>school: <span><%= data[i].school %></span></p>
          <p>type: <%= data[i].type %></p>
          <p>标题: <%= data[i].quiz %></p>
          <p>选项：<%= data[i].options %></p>
          <p>正确答案 <%= data[i].answer %></p>
        </li>
      <% } %>
    </ul>
  </div>
</body>

</html>